<?xml version="1.0" encoding="UTF-8"?>
<server description="IPL 2024 Microservice Server" xmlns="http://www.w3.org/2001/xmlns/v1">
    <featureManager>
        <feature>jax-rs-2.0</feature>
        <feature>jpa-2.2</feature>
        <feature>jsonb-1.0</feature>
        <feature>cdi-1.2</feature>
    </featureManager>
    <httpEndpoint host="*" httpPort="8080" httpsPort="443" id="default"/>
</server>